.jetbrains-mono-normal {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
  
.title-name {
 background-color: #f4f3ee; 
 padding: 5px; 
}

.cover-title {
  background-color: #B1B1B1;
  color: #272727;
}



.gradient-background {
    background: linear-gradient(300deg, #121212, #272727, #696969);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }

#about-me {
    color: white;
}

#about-me h1 {
  text-align: center;
}
  
.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./media/cover-photo.JPG);
  background-size: cover;
  background-position: center;
}


